table {
    width: 100%;
}

th {
    background-color: #350a99;
}

th, td {
    padding: 15px;
    text-align: left;
}

.btn {
    background-color: rgba(14, 85, 12, 0.466);
    border-radius: 6px;
    padding: 8px 12px;
}
